# Training and forecast of ML models

In [2]:
import pandas as pd

In [21]:
ts60 = pd.read_csv('../VEOLIA/artifacts/timeseries_60min.csv', index_col=0, parse_dates=True)
# load60 = ts60['Diff Load Activa Total (60 minuto)'].dropna()
# ts60.head()

df = ts60[['Diff Load Activa Total (60 minuto)','TEMPERATURA EXTERIOR (60 minuto)']].dropna()
df.head()

,Diff Load Activa Total (60 minuto),TEMPERATURA EXTERIOR (60 minuto)
datetime,,
2021-05-15 00:00:00,2600.0,13.7725
2021-05-15 01:00:00,2620.0,13.3100
2021-05-15 02:00:00,2610.0,12.3850
2021-05-15 03:00:00,2620.0,11.9225
2021-05-15 04:00:00,2570.0,11.4600

In [22]:
df['year'] = df.index.year
df['month'] = df.index.month
df['month_day'] = df.index.day
df['week_day'] = df.index.weekday
df['hour'] = df.index.hour

In [23]:
df.head(150)

,Diff Load Activa Total (60 minuto),TEMPERATURA EXTERIOR (60 minuto),year,month,month_day,week_day,hour
datetime,,,,,,,
2021-05-15 00:00:00,2600.0,13.7725,2021,5,15,5,0
2021-05-15 01:00:00,2620.0,13.3100,2021,5,15,5,1
2021-05-15 02:00:00,2610.0,12.3850,2021,5,15,5,2
2021-05-15 03:00:00,2620.0,11.9225,2021,5,15,5,3
2021-05-15 04:00:00,2570.0,11.4600,2021,5,15,5,4
...,...,...,...,...,...,...,...
2021-05-21 01:00:00,2110.0,13.6850,2021,5,21,4,1
2021-05-21 02:00:00,2140.0,11.9950,2021,5,21,4,2
2021-05-21 03:00:00,2400.0,11.2600,2021,5,21,4,3
2021-05-21 04:00:00,2700.0,9.9925,2021,5,21,4,4
2021-05-21 05:00:00,2680.0,9.3600,2021,5,21,4,5

In [24]:
df.shape

(1128, 7)

## Regression models for load forecasting

In [25]:
X = df[['month', 'week_day', 'hour', 'TEMPERATURA EXTERIOR (60 minuto)']]
y = df['Diff Load Activa Total (60 minuto)']

In [26]:
from sklearn.model_selection import train_test_split

# random_state=23 in order to be led to reproducible results
# split 75%, 25%
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=23)
print(X_train)
print(y_train)
print(X_test)
print(y_test)

                     month  week_day  hour  TEMPERATURA EXTERIOR (60 minuto)
datetime
2021-06-03 23:00:00      6         3    23                            10.210
2021-05-15 19:00:00      5         5    19                            17.575
2021-06-06 19:00:00      6         6    19                            19.810
2021-05-17 23:00:00      5         0    23                             9.880
2021-06-25 17:00:00      6         4    17                            26.735
...                    ...       ...   ...                               ...
2021-05-16 07:00:00      5         6     7                            13.310
2021-06-23 14:00:00      6         2    14                            18.795
2021-06-28 08:00:00      6         0     8                            30.955
2021-06-14 22:00:00      6         0    22                            18.565
2021-06-08 19:00:00      6         1    19                            29.545

[846 rows x 4 columns]
datetime
2021-06-03 23:00:00    2500.0
2021-05-15 19:00:00    3180.0
2021-06-06 19:00:00    1260.0
2021-05-17 23:00:00    2820.0
2021-06-25 17:00:00    2170.0
                        ...
2021-05-16 07:00:00    2660.0
2021-06-23 14:00:00    2520.0
2021-06-28 08:00:00    1880.0
2021-06-14 22:00:00    2480.0
2021-06-08 19:00:00    2310.0
Name: Diff Load Activa Total (60 minuto), Length: 846, dtype: float64
                     month  week_day  hour  TEMPERATURA EXTERIOR (60 minuto)
datetime
2021-06-06 03:00:00      6         6     3                            8.2900
2021-05-31 06:00:00      5         0     6                           12.0300
2021-06-05 04:00:00      6         5     4                            8.1850
2021-05-21 09:00:00      5         4     9                           34.2475
2021-06-13 10:00:00      6         6    10                           45.3575
...                    ...       ...   ...                               ...
2021-06-23 04:00:00      6         2     4                           10.2050
2021-06-22 08:00:00      6         1     8                           14.1350
2021-05-31 17:00:00      5         0    17                           31.6400
2021-05-21 10:00:00      5         4    10                           33.7225
2021-06-19 18:00:00      6         5    18                           25.3075

[282 rows x 4 columns]
datetime
2021-06-06 03:00:00    2540.0
2021-05-31 06:00:00    2580.0
2021-06-05 04:00:00    2490.0
2021-05-21 09:00:00    1770.0
2021-06-13 10:00:00    1330.0
                        ...
2021-06-23 04:00:00    2350.0
2021-06-22 08:00:00    2620.0
2021-05-31 17:00:00    2100.0
2021-05-21 10:00:00    2290.0
2021-06-19 18:00:00    1680.0
Name: Diff Load Activa Total (60 minuto), Length: 282, dtype: float64

### Decision Tree Regression

In [27]:
from sklearn import tree

tree_reg = tree.DecisionTreeRegressor()
tree_reg = tree_reg.fit(X_train, y_train)

y_train_pred_dec_tree = tree_reg.predict(X_train)
y_test_pred_dec_tree = tree_reg.predict(X_test)

In [29]:
from sklearn.metrics import mean_absolute_percentage_error, mean_squared_error

In [36]:
MSE_train3 = mean_squared_error(y_train, y_train_pred_dec_tree)
MSE_test3 = mean_squared_error(y_test, y_test_pred_dec_tree)

MAPE_train3 = mean_absolute_percentage_error(y_train, y_train_pred_dec_tree)
MAPE_test3 = mean_absolute_percentage_error(y_test, y_test_pred_dec_tree)


print(MSE_test3, round(MAPE_test3 * 100, 2),'%')

151873.75886538663 13.85 %

### Random Forest Regression

In [37]:
from sklearn.ensemble import RandomForestRegressor

regr = RandomForestRegressor()
regr.fit(X_train, y_train)

y_train_pred_rf = regr.predict(X_train)
y_test_pred_rf = regr.predict(X_test)

In [38]:
MSE_train_rf = mean_squared_error(y_train, y_train_pred_rf)
MSE_test_rf = mean_squared_error(y_test, y_test_pred_rf)

MAPE_train_rf = mean_absolute_percentage_error(y_train, y_train_pred_rf)
MAPE_test_rf = mean_absolute_percentage_error(y_test, y_test_pred_rf)


print(MSE_test_rf, round(MAPE_test_rf * 100, 2),'%')

93079.2890780943 11.15 %

### Gradient Boosting Regression

In [41]:
from sklearn.ensemble import GradientBoostingRegressor

reg = GradientBoostingRegressor(random_state=0)
reg.fit(X_train, y_train)

y_train_pred_gb = reg.predict(X_train)
y_test_pred_gb = reg.predict(X_test)

In [42]:
MSE_train_gb = mean_squared_error(y_train, y_train_pred_gb)
MSE_test_gb = mean_squared_error(y_test, y_test_pred_gb)

MAPE_train_gb = mean_absolute_percentage_error(y_train, y_train_pred_gb)
MAPE_test_gb = mean_absolute_percentage_error(y_test, y_test_pred_gb)


print(MSE_test_gb, round(MAPE_test_gb * 100, 2),'%')

88107.48844671606 10.74 %

### LightGBM

In [44]:
!pip install lightgbm

Collecting lightgbm
  Downloading lightgbm-3.2.1-py3-none-win_amd64.whl (1.0 MB)
Requirement already satisfied: numpy in c:\users\vkarakolis.epu\anaconda3\envs\veolia\lib\site-packages (from lightgbm) (1.21.1)
Requirement already satisfied: scikit-learn!=0.22.0 in c:\users\vkarakolis.epu\anaconda3\envs\veolia\lib\site-packages (from lightgbm) (0.24.2)
Requirement already satisfied: wheel in c:\users\vkarakolis.epu\anaconda3\envs\veolia\lib\site-packages (from lightgbm) (0.36.2)
Requirement already satisfied: scipy in c:\users\vkarakolis.epu\anaconda3\envs\veolia\lib\site-packages (from lightgbm) (1.7.0)
Requirement already satisfied: joblib>=0.11 in c:\users\vkarakolis.epu\anaconda3\envs\veolia\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\vkarakolis.epu\anaconda3\envs\veolia\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (2.2.0)
Installing collected packages: lightgbm
Successfully installed lightgbm-3.2.1

In [45]:
import lightgbm as lgb

#### Todo:
1) LightGBM models
2) xgboost model
3) try with more complete weather data
4) parameter tuning
5) cross_validation